<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-text-center ion-padding-bottom">
  <ion-icon class="otp-icon" src="../../../assets/svg_icon/set_new_password.svg"></ion-icon>
  <h5 class="info-title">Reset Your password</h5>
  <form #f="ngForm">

    <ion-input custom-input [type]="showpassword ? 'text' : 'password'" placeholder="Current Password"
      [(ngModel)]="data.old_password" name="password" required>
      <ion-button class="btn-password-toggle ion-no-margin" fill="clear" (click)="showpassword = !showpassword">
        <ion-icon slot="icon-only" [name]="showpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-input>
    <p class="err" *ngIf="err?.old_password">{{err?.old_password}}*</p>
    <ion-input custom-input [type]="password ? 'text' : 'password'" placeholder="New Password"
      [(ngModel)]="data.password" name="password" required>
      <ion-button class="btn-password-toggle ion-no-margin" fill="clear" (click)="password = !showpassword">
        <ion-icon slot="icon-only" [name]="password ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-input>
    <p class="err" *ngIf="err?.password">{{err?.password}}*</p>
    <ion-input custom-input [type]="cshowpassword ? 'text' : 'password'" placeholder="Confirm Password" name="cpassword"
      [(ngModel)]="data.password_confirmation">
      <ion-button class="btn-password-toggle ion-no-margin" fill="clear" (click)="cshowpassword = !cshowpassword">
        <ion-icon slot="icon-only" [name]="cshowpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-input>
    <p class="err" *ngIf="err?.password_confirmation">{{err?.password_confirmation}}*</p>
    <ion-button expand="block" class="ion-no-margin btn-general" (click)="doChange()" [disabled]="!f.valid">
      change password
    </ion-button>
  </form>

</ion-content>