
<ion-content class="ion-padding-horizontal ion-text-center">
	 <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back floatleft"></ion-back-button>
	
  <p class="padd10"></p>	


  <ion-icon class="forgot-icon" src="../../../assets/svg_icon/forgot.svg"></ion-icon>
  <h5 class="center head pad16leftright">Please enter registered <br>
    Phone</h5>
  <p class="center colp pad16leftright">We will send a verification code to your <br>
    registered Phone</p>
  <form action="" #f="ngForm">
   <div class="pad16leftright" >
    <ion-input custom-input type="tel" class="emailsett emailsett1 " placeholder="Phone" [(ngModel)]="data.phone_no" name="phone" required>
    </ion-input>
</div>


		<a class="ion-text-center btn-signin buttnclass fullwidth"  (click)="doNext()">Next   <ion-back-button defaultHref="" icon="chevron-back" mode="md" class="btn-back iconcss"></ion-back-button></a>

  </form>
  
  
</ion-content>