ion-tabs{
    ion-tab-bar{
        --background:#680e1a;
    }
	
	
	.buttnclassothers{padding: 18px;color: white;font-weight: bold;font-size: 14px;    width: 100%;
    float: left;}
	.iconcss{margin-top: -31px;transform: rotateZ(180deg);position: absolute;right: 11px;}
	
	.iconcss1{position: absolute;left:12px;}
	
	.fist{background-color: #b56571;}.sec{background-color:#c17580;}.thjird{background-color: #9e4b54;}
	
	
	
	
}
