ion-header {
    ion-toolbar {
      border-radius: 0px 0px 20px 20px;
      --background: #680e1a;
    }    
}
ion-content{
    --padding-top: 10px;
    p{
        font-family: "Fivo_sans_regular";
        color: var(--ion-color-dark-blue);
        margin: 20px 0px;
    }
}