<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button
        defaultHref="tabs/home"
        icon="chevron-back"
        mode="md"
        class="btn-back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Booking Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p>
    Beauty Belle provides a booking platform, which allows to you discover and
    book online with spas, salons and other businesses. you can buy or book
    partner services by making a Beauty Belle.
  </p>
  <p>
    The Partner services you can buy or book via Beauty Belle are sold by our
    partners and not by us. We are only responsible for arranging and concluding
    your booking, and we have been appointed by our partners to act as their
    commercial agent to do so.
  </p>
  <p>
    If you pay for partner services using the Beauty Belle payment services, We
    may collect and receive your payment on behalf of the relevant partner in
    our capacity as their commercial agent.
  </p>
</ion-content>
