ion-header {
  border-radius: 0px 0px 20px 20px;
  background: #680e1a;
  ion-toolbar {
    --background: transparent;
  }
  .segment-section {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 10px;
    a {
      text-decoration: none;
      color: var(--ion-color-white);
      font-size: 16px;
      font-family: "Fivo_sans_regular";
      opacity: 0.6;
    }
    .active {
      opacity: 1;
    }
  }
}

ion-content {
    .section{
        height: 100%;
    }
    .no-data{
        text-align: center;
        transform: translateY(-50%);
        top: 50%;
        position: relative;
        .calendar-icon{
            height: 130px;
            width:  130px;
        }
        h5{
            font-family: "Fivo_sans_medium";
            color: var(--ion-color-blue);
            margin-top: 2rem;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
            font-family: "Fivo_sans_regular";
            color: var(--ion-color-dark-blue);
            margin: 0px;
        }
        .btn-general{
            font-size: 16px;
            text-transform: initial;
            font-family: "Fivo_sans_regular";
            height: 45px;
            margin-top: 2rem;
        }
    }
  .appoinment-section {
    margin-top: 20px;
    margin-bottom: 25px;
    .header-section {
      background-color: #680e1a;
      border-radius: 5px 5px 0px 0px;
      padding: 10px 0px;
      h6 {
        text-align: center;
        color: var(--ion-color-white);
        font-family: "Fivo_sans_regular";
        margin: 0px;
      }
    }
    .body-section {
      border-left: 1px solid var(--ion-color-dark-blue);
      border-right: 1px solid var(--ion-color-dark-blue);
      ion-item {
        padding-top: 3px;
        ion-thumbnail {
          height: 74px;
          width: 74px;
          img {
            border-radius: 5px;
          }
        }
        ion-label {
          h5 {
            font-size: 18px;
            font-family: "Fivo_sans_medium";
            color: var(--ion-color-blue);
            margin-top: 0px;
          }
          p {
            font-size: 14px;
            font-family: "Fivo_sans_regular";
            color: var(--ion-color-dark-blue);
            margin: 0px;
          }
          .rating-bar {
            ion-icon {
              color: var(--ion-color-dark-blue1);
              font-size: 15px;
              margin-right: 4px;
            }
            .active {
              color: #680e1a;
            }
          }
        }
      }
    }
    .footer-section {
      padding: 11px 16px;
      border: 1px solid var(--ion-color-dark-blue);
      border-radius: 0px 0px 5px 5px;
      p {
        font-family: "Fivo_sans_regular";
        color: var(--ion-color-blue);
        .btn-view {
          color: var(--ion-color-green);
          text-decoration: none;
        }
      }
    }
  }
}
