ion-header {
    ion-toolbar {
      border-radius: 0px 0px 20px 20px;
      --background: #680e1a;
	  
    }
  }
  
  ion-content {
    --padding-top: 10px;
--ion-background-color:linear-gradient(180deg,#6f1b3f,#774658);

--background: url("https://robertjane.com/cjsgkmees/public/argon/img/brand/bg.jpg") 0 0/100% 100% no-repeat;
	
   
    .btn-forgot{
        font-size: 16px;
        font-family: "Fivo_sans_regular";
        color: var(--ion-color-blue);    
        margin-top: 10px;
    }
    .btn-general {
      font-size: 16px;
      height: 50px;
      margin-top: 5rem;
    }
    .accont-label {
      font-family: "Fivo_sans_regular";
      color: var(--ion-color-dark-blue);
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .btn-signin {
      font-size: 16px;
      font-family: "Fivo_sans_medium";
      color: var(--ion-color-blue);
      text-decoration: none;
      margin: 5px auto;
      display: block;
    }
	
	 .profile-div {
    width: fit-content;
    position: relative;
    margin: 0px auto;
    .camera-icon {
      height: 25px;
      width: 25px;
      background: var(--ion-color-dark-blue2);
      border-radius: 50%;
      text-align: center;
      padding-top: 3px;
      font-size: 15px;
      color: var(--ion-color-blue);
      position: absolute;
      bottom: 3px;
      right: 3px;
      z-index: 14;
    }
  }
  .hexagon {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    cursor: pointer;
  }
  .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
  }
  .hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
    transform: rotate(-60deg);
  }

  .hexagon1 {
    width: 100px;
    height: 90px;
    margin: 0px auto;
  }
.padd{padding:90px 0px}

	.head{font-weight: bold;color:#ffffff;font-size: 18px;}
	.colp{color:#d1bbc0;margin-top:23px;width: 66%;}
	.emailsett{background-color: #ffffff!important;border-radius: 5px;border: none;margin-top: 20px!important;color:#d1bbc0}
	.emailsett1{margin-top: 40px!important;}
	
	.native-input.sc-ion-input-md{border-radius: 5px; --padding-start: var(--ion-padding,16px)!important;color:#d1bbc0;
    --padding-end: var(--ion-padding,16px)!important;}
	
	
	.native-input.sc-ion-input-md:-webkit-autofill{border-radius: 5px;background-color: #ffffff!important;border: none;color:#d1bbc0}
	
	.buttnclass{padding: 18px;background-color: #6b2932;color: white;font-weight: bold;font-size: 14px;margin-top:40px}
	
	.buttnclassothers{padding: 18px;background-color: #6c383f;color: white;font-weight: bold;font-size: 14px;}
	.iconcss{margin-top: -31px;transform: rotateZ(180deg);position: absolute;right: 11px;}
	
	 ion-input {
    --placeholder-color:#d1bbc0;--placeholder-opacity: 1;
	font-size: 13px!important;
}



.button-native{    color: #6b2932!important;}













  }
 ion-page{
    background: url("https://robertjane.com/cjsgkmees/public/argon/img/brand/bg.jpg") 0 0/100% 100% no-repeat;
}

ion-page > ion-content{
  background-color: transparent;
}

.ion-padding-horizontal {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding,0px);
	
	}
	
.pad16leftright{    --padding-start: var(--ion-padding,16px);
    --padding-end: var(--ion-padding,16px);
	
	width: 87%;
    margin: 0 auto;}	
