<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button
        defaultHref="tabs/home"
        icon="chevron-back"
        mode="md"
        class="btn-back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Customer Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p class="ion-text-center day-label">Today</p>

  <div class="left-section">
    <div class="inline-section">
      <div class="image-section">
        <img src="http://placehold.it/51X51" alt="" />
      </div>
      <div class="text-section">
        <p class="message ion-no-margin">
          Hello... <br />
          How May I Help You
        </p>
      </div>
    </div>
    <p class="ion-no-margin ion-text-right time-label">10:02 am</p>
  </div>

  <div class="right-section ion-float-right">
    <div class="inline-section">
      <div class="text-section">
        <p class="message ion-no-margin">
          Hi <br />
          I am Jasmine. <br />
          I have a problem of booking <br />
          appointment
        </p>
      </div>
      <div class="image-section">
        <img src="http://placehold.it/51X51" alt="" />
      </div>
    </div>
    <p class="ion-no-margin time-label">10:05 am</p>
  </div>


  <div class="left-section">
    <div class="inline-section">
      <div class="image-section">
        <img src="http://placehold.it/51X51" alt="" />
      </div>
      <div class="text-section">
        <p class="message ion-no-margin">
          Book Your Appointment <br>
          As Soon As Possible
        </p>
      </div>
    </div>
    <p class="ion-no-margin ion-text-right time-label">10:12 am</p>
  </div>

  <div class="right-section ion-float-right">
    <div class="inline-section">
      <div class="text-section">
        <p class="message ion-no-margin">
          Ok Thank you...
        </p>
      </div>
      <div class="image-section">
        <img src="http://placehold.it/51X51" alt="" />
      </div>
    </div>
    <p class="ion-no-margin time-label">10:18 am</p>
  </div>
</ion-content>
<ion-footer>
  <ion-input type="text" placeholder="Type your message..."></ion-input>
  <div class="smile-icon">
    <ion-icon src="../../../assets/svg_icon/awesome-smile.svg"></ion-icon>
  </div>
  <ion-button mode="md" class="ion-no-margin" fill="clear"> 
    <img src="../../../assets/Images/type & send.png" alt="">
  </ion-button>
</ion-footer>